@model IEnumerable<Onlinevotingsystem.Models.Election>

<p>
    <a asp-action="Create">View Result </a>
</p>
<table class="table blur" id="tb">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ElectionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ElectionName)
                    <p hidden onclick=""> @Html.DisplayFor(modelItem => item.Electionid)</p>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.Electionid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Electionid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Electionid">Delete</a>*@
                    <button class="glow-on-hover" onclick="ViewCan()">
                        @*<a asp-action="VuCandidate" asp-route-id="@item.Electionid">Cast Vote</a>*@

            </button>
            </td>
        </tr>
}
    </tbody>
</table>
<script type="text/javascript">
    function ViewCan() {

        $.post("/Elections/VuCandidate", null, function (data) {

            alert("This is your election list")
        });
        var userurl = "/Election/VuCandidate";
        window.location.href = userurl;
    }</script>